 body {
     font-family: 'Inter';
 }

 .radio-label {
     background-color: #F7F9FB;
 }

 input[type="radio"]:checked+.radio-label {
     background-color: #F5EFE7;
     border: 2px solid #16423C;
     color: #16423C;
 }

 .form-control::placeholder {
     opacity: 0.6;
 }

 .text-secondary {
     opacity: 0.8;
 }

 a {
     text-decoration: none;
     color: #16423C;
 }

 footer {
     background-color: #16423C;
 }

 .btn.btn-secondary[disabled] {
     border: 0;
     background-color: rgba(0, 0, 0, 0.05);
     color: rgba(0, 0, 0, 0.15);
 }

 .login-title {
     font-weight: 600;
     font-size: 150%;
     line-height: 36px;
 }

 .login-subtitle {
     font-weight: 400;
     font-size: 80%;
     line-height: 20px;
     opacity: 0.4;
 }

 ::placeholder {
     opacity: 0.1;
 }

 .main-box {
     max-width: 60vh;
     padding: min(5vh, 10rem) min(10vw, 10rem) min(5vh, 10rem) min(10vw, 10rem);
 }

 .field-icon {
     float: right;
     margin-top: -30px;
     opacity: 0.4;
 }

 .hello-box {
     background-color: #F5EFE7;
 }

 .card {
     width: 13rem;
     background-color: #F7F3ED;
 }